.Login_Border
{	
	width: 540px;
	height: 319px;
}
/*===========header================*/
.Login_Header
{	
	width: 540px;
	height: 94px;
}
.Login_Header_Left
{
	float: left;
	background-image: url(images/login_12.jpg);
	width: 68px;
	height: 94px;
}
.Login_Header_Center
{	
	float: left;
	background-image: url(images/login_13.jpg);
	width: 406px;
	height: 94px;
	
}
.Login_Header_Right
{
	float: left;
	background-image: url(images/login_14.jpg);
	width: 66px;
	height: 94px;
}
/*=========== end header================*/
/*===========Mid================*/
.Login_Mid
{	
	width: 540px;
	height: 120px;
}
.Login_Mid_Left
{
	float: left;
	background-image: url(images/login_17.jpg);
	width: 68px;
	height: 120px;
}
.Login_Mid_Center
{	
	float: left;
	background-image: url(images/login_18.jpg);
	width: 406px;
	height: 120px;
	
}
.Login_Mid_Center_Row
{
	clear: both;
	width: 406px;
	height: 60px;
}
.Login_Mid_Center_Lable
{
	float: left;
	width: 110px;
	height: 60px;
	font-variant: normal;
	font-style: italic;
	font-family: Tahoma, Verdana, Arial;
	color: #696969;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding-top: 10px;
	text-align: right;
}
.Login_Mid_Center_Text
{
	float: left;
	width: 296px;
	height: 60px;
	line-height: 60px;
	padding-top: 5px;
}
.Login_Mid_Right
{
	float: left;
	background-image: url(images/login_19.jpg);
	width: 66px;
	height: 120px;
}
/*=========== end Mid================*/
/*===========UFooter================*/
.Login_Ufooter
{	
	width: 540px;
	height: 46px;
}
.Login_Ufooter_Left
{
	float: left;
	background-image: url(images/login_22.jpg);
	width: 68px;
	height: 46px;
}
.Login_Ufooter_Center
{	
	float: left;
	background-image: url(images/login_23.jpg);
	width: 406px;
	height: 46px;
	
}
.Login_Ufooter_Right
{
	float: left;
	background-image: url(images/login_24.jpg);
	width: 66px;
	height: 46px;
}
.Spaces
{
	float: left;
	width: 266px;
	height: 46px;
}
.Login_Ufooter_Center_Btn
{
	float: left;
	width: 140px;
	height: 46px;
	text-align: left;
	padding-top: 10px;
	
}
/*=========== end ufooter================*/
/*===========UFooter================*/
.Login_Footer
{	
	width: 540px;
	height: 37px;
}
.Login_Footer_Left
{
	float: left;
	background-image: url(images/login_27.jpg);
	width: 68px;
	height: 37px;
}
.Login_Footer_Center
{	
	float: left;
	background-image: url(images/login_28.jpg);
	width: 406px;
	height: 37px;
	
}
.Login_Footer_Right
{
	float: left;
	background-image: url(images/login_29.jpg);
	width: 66px;
	height: 37px;
}
/*=========== end header================*/

.stylebtn
{
	width: 89px;
	height: 29px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: Tahoma, Verdana, Arial;
	font-size: 8pt;
	font-weight: bold;
}
