UNKNOWN {
    MARGIN: 0px;
    FONT-FAMILY: Tahoma, Verdana;
    COLOR: #000000;
    FONT-SIZE: 11pt
}

.ButtonPopup {
    BACKGROUND: url(../images/bg_Title.jpg)
}

TABLE {
    FONT-FAMILY: tahoma, Verdana;
    FONT-SIZE: 11px
}

.body {
    BACKGROUND-IMAGE: url(../image/bg.jpg)
}
   
.animatedtabs{
border-bottom: 1px solid gray;
overflow: hidden;
width: 100%;
font-size: 14px; 
}


.Textbox {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.promptText {
    TEXT-ALIGN: left;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt
}

.promptText2 {
    TEXT-ALIGN: left;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    HEIGHT: 22px;
    FONT-SIZE: 9pt
}

.promptTextPrint {
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 7pt
}

.TextForPrintGNT {
    FONT-FAMILY: Times New Roman, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 9pt
}

.gridHeader {
    TEXT-ALIGN: center;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt
}

.promptTextCenter {
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 8pt
}

.textlink {
    FONT-FAMILY: Verdana;
    COLOR: #315b84;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

.textlink:hover {
    FONT-FAMILY: Verdana;
    COLOR: #ff3300;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

.textlink3 {
    FONT-FAMILY: Verdana;
    COLOR: #336699;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}

.textlink3:hover {
    FONT-FAMILY: Verdana;
    COLOR: #ff3300;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}

.textlink4 {
    FONT-FAMILY: Verdana;
    COLOR: #666666;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}

.textlink4:hover {
    FONT-FAMILY: Verdana;
    COLOR: #ff3300;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}

.title {
    FONT-FAMILY: Verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    color: Gray;
    text-align: left;
    height: 24px;
}

.title1 {
    FONT-FAMILY: Verdana;
    COLOR: #ffffff;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold
}

.title2 {
    FONT-FAMILY: Verdana;
    COLOR: #006699;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.title3 {
    FONT-FAMILY: Verdana;
    COLOR: #ff3300;
    FONT-SIZE: 11px
}

.title_ctieu {
    BACKGROUND-COLOR: #e4e4e4;
    FONT-FAMILY: Verdana;
    HEIGHT: 22px;
    COLOR: #000000;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}

.fieldTextCode {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextCodeHeight {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 97.82%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
}

.fieldNumberCode {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: right;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: rgb(234, 243, 230);
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextArea {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextCenterCode {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextCenter {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextRight {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: right;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 98%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextRightCode {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: right;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 98%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    font-weight: bold;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextMoney {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: right;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    COLOR: #ff0000;
    FONT-SIZE: 9pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldText1 {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldText {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextTKNo {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    COLOR: blue;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextTKCo {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    COLOR: red;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldText_header {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 84%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldDate {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldDateCode {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: center;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldNumber {
    BORDER-BOTTOM: #336699 1px solid;
    TEXT-ALIGN: right;
    BORDER-LEFT: #336699 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #336699 1px solid;
    BORDER-RIGHT: #336699 1px solid
}

.fieldNumberWhile {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: right;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldNumberWhileCode {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: right;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldNumberWhile1 {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: right;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 50px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.selectBox {
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 14pt;
    FONT-SIZE: 8pt;
}

.MST {
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Helvetica, sans-serif;
    LETTER-SPACING: 10.1pt;
    HEIGHT: 14pt;
    FONT-SIZE: 10pt;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #cccccc 1px solid
}

.MSTCode {
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Helvetica, sans-serif;
    LETTER-SPACING: 10.1pt;
    HEIGHT: 14pt;
    FONT-SIZE: 10pt;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #cccccc 1px solid
}

.noScroll {
    POSITION: relative;;
    TOP: expression(this.offsetParent.scrollTop)
}

TH {
    TEXT-ALIGN: center;
    background-color: #f0f0f0;
    height: 22px
}

.trDanhSachChan {
    BACKGROUND-COLOR: White;
}

.trDanhSachLe {
    BACKGROUND-COLOR: rgb(232, 255, 249);
}

.trChuNhat {
    BACKGROUND-COLOR: Yellow;
}

.trDanhSachNormal {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #f1fdcd;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial;
    HEIGHT: 23px;
    COLOR: #14477c;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}

.trDanhSachHover {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #e7f1fe;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial;
    HEIGHT: 23px;
    COLOR: #ff0000;
    FONT-SIZE: 12px;
    CURSOR: hand;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}

.trDanhSachHeader {
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #d3e4fb;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial;
    HEIGHT: 23px;
    COLOR: #14477c;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}

.tdDSCTuHeader {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #d3e4fb;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    COLOR: #14477c;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}

.tdDSCTuHeader width50px {
    WIDTH: 50px
}

.tdDSCTuHeader width100px {
    WIDTH: 100px
}

.tdDSCTuHeaderWith50 {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #d3e4fb;
    PADDING-LEFT: 8px;
    WIDTH: 50px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    COLOR: #14477c;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}

.tdDSCTuHeaderWith100 {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #d3e4fb;
    PADDING-LEFT: 8px;
    WIDTH: 100px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial;
    HEIGHT: 20px;
    COLOR: #14477c;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}

.trDanhSachHeaderLeft {
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #d3e4fb;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial;
    HEIGHT: 23px;
    COLOR: #14477c;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}

.trDanhSachHeaderRight {
    TEXT-ALIGN: right;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #d3e4fb;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial;
    HEIGHT: 23px;
    COLOR: #000000;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}

.trDanhSachHeaderCenter {
    TEXT-ALIGN: center;
    PADDING-BOTTOM: 2px;
    BACKGROUND-COLOR: #d3e4fb;
    PADDING-LEFT: 8px;
    PADDING-RIGHT: 8px;
    FONT-FAMILY: Arial;
    HEIGHT: 23px;
    COLOR: #14477c;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 2px
}

.textNormal {
    TEXT-ALIGN: right;
    padding-right: 4px;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal
}

.textNormal subTextNormal20 {
    WIDTH: 94px
}

.cssTextHeader {
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: center;
    BORDER-LEFT: 0px;
    FONT-FAMILY: Arial;
    COLOR: #ffffff;
    FONT-SIZE: 24px;
    BORDER-TOP: 0px;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: 0px
}

.fieldTextNoboder {
    BORDER-BOTTOM: #cccccc 0px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 0px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 0px solid;
    BORDER-RIGHT: #cccccc 0px solid
}

.fieldTextNoboderRight {
    BORDER-BOTTOM: #cccccc 0px solid;
    TEXT-ALIGN: right;
    BORDER-LEFT: #cccccc 0px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 0px solid;
    BORDER-RIGHT: #cccccc 0px solid
}

.sortKey {
    FONT-FAMILY: Tahoma, sans-serif;
    COLOR: activecaption;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}

.promptText1 {
    TEXT-ALIGN: left;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    COLOR: #0f0f0f;
    FONT-SIZE: 8pt
}

.borderChungTu {
    BORDER-BOTTOM: 1px;
    TEXT-ALIGN: center;
    BORDER-LEFT: 1px;
    BACKGROUND-COLOR: #ffffff;
    BORDER-COLLAPSE: collapse;
    BORDER-TOP: 1px;
    BORDER-RIGHT: 1px
}

.borderTableChungTu {
    BORDER-BOTTOM: 1px gray;
    POSITION: relative;
    TEXT-ALIGN: center;
    BORDER-LEFT: 0px gray;
    BACKGROUND-COLOR: White;
    BORDER-COLLAPSE: collapse;
    TABLE-LAYOUT: auto;
    VERTICAL-ALIGN: top;
    OVERFLOW: auto;
    BORDER-TOP: 1px gray;
    BORDER-RIGHT: 0px gray;
    border-color: #999999;
}
.borderTableChungTuTitle {
    BORDER-BOTTOM: 1px gray;
    POSITION: relative;
    TEXT-ALIGN: center;
    BORDER-LEFT: 0px gray;
    BACKGROUND-COLOR: White;
    BORDER-COLLAPSE: collapse;
    TABLE-LAYOUT: auto;
    VERTICAL-ALIGN: top;
    OVERFLOW: auto;
    BORDER-RIGHT: 0px gray;
    border-color: #999999;
}
.borderTableMain {
    BORDER-BOTTOM-COLOR: #b0c4de;
    BORDER-TOP-COLOR: #b0c4de;
    BORDER-COLLAPSE: collapse;
    BORDER-RIGHT-COLOR: #b0c4de;
    BORDER-LEFT-COLOR: #b0c4de
}

.promptTextDT {
    TEXT-ALIGN: center;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    COLOR: #0f0f0f;
    FONT-SIZE: 8pt
}

.body {
    BACKGROUND-IMAGE: url(../images/bg.jpg)
}

.fieldTextNoBorder {
    BORDER-BOTTOM: #cccccc 0px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 0px solid;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 0px solid;
    BORDER-RIGHT: #cccccc 0px solid
}

.focus {
    BORDER-BOTTOM: #aa88ff 1px solid;
    BORDER-LEFT: #aa88ff 1px solid;
    BACKGROUND-COLOR: #ffeeaa;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    BORDER-TOP: #aa88ff 1px solid;
    BORDER-RIGHT: #aa88ff 1px solid
}
/*
Khangdq
*/
.tdBorderCenter {
    border: 1px solid #8eb9e5;
    text-align: center;
}

.tdBorder {
    border-left: 1px solid #8eb9e5;
    border-bottom: 1px solid #8eb9e5;
    text-align: center;
}

.tdBorderR {
    border-right: 1px solid #8eb9e5;
    text-align: center;
}

.tdBorderB {
    border-bottom: 1px solid #8eb9e5;
    text-align: center;
}

.tdBorderBR {
    border-bottom: 1px solid #8eb9e5;
    border-right: 1px solid #8eb9e5;
    padding-left: 2px;
}

.bgTable {
    BORDER-BOTTOM: 1px;
    TEXT-ALIGN: center;
    BORDER-LEFT: 1px;
    BACKGROUND-COLOR: #e7f1fe;
    BORDER-COLLAPSE: collapse;
    BORDER-TOP: 1px;
    BORDER-RIGHT: 1px
}

.fieldTextTrans {
    border: 0px solid #ffffff;
    TEXT-ALIGN: left;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
}
.fieldTextTransError {
    border: 0px solid #ffffff;
    TEXT-ALIGN: left;
    BACKGROUND-COLOR: #ffffff;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    color: Red;
    font-style: italic;
}
.fieldTextTransparent {
    border: 0px solid #e7f1fe;
    TEXT-ALIGN: left;
    BACKGROUND-COLOR: #e7f1fe;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
}

.box_common_content input[readonly='']:focus, textarea[readonly='']:focus {
    background-color: #ffffb5;
}

.fieldTextAreaRO {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    WIDTH: 100%;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}

.fieldTextRO {
    BORDER-BOTTOM: #cccccc 1px solid;
    TEXT-ALIGN: left;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #f0f0f0;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    FONT-SIZE: 8pt;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid
}
/*
  HUNGPD THEM 
*/
.data-grid {
    border-collapse: collapse;
}

TABLE {
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
}

table.form_input {
    border-color: #e1e1e1;
    border-collapse: collapse;
    border: solid 3px #eaedf0;
    BORDER-BOTTOM: 1px;
    BACKGROUND-COLOR: Aqua;
    TEXT-ALIGN: center;
    BORDER-LEFT: 1px;
    BORDER-COLLAPSE: collapse;
    BORDER-TOP: 1px;
    BORDER-RIGHT: 1px
}

.ui-state-default {
    background: url("../images/ui-bg_glass_85_dfeffc_1x400.png")repeat-x scroll 50% 50% #DFEFFC;
    border: 1px solid #C5DBEC;
    color: #2E6E9E;
    font-weight: bold;
}

.ui-th-column, .ui-jqgrid.ui-jqgrid-htable th.ui-th-column {
    text-align: center;
    white-space: nowrap;
}

.ui-state-highlight, .ui-widget-content.ui-state-highlight, .ui-widget-header.ui-state-highlight {
    background: url("../images/ui-bg_flat_55_fbec88_40x100.png")repeat-x scroll 50% 50% #FBEC88;
    border: 1px solid #FAD42E;
    color: #363636;
}

.ui-widget-content {
    background: url("../images/ui-bg_inset-hard_100_fcfdfd_1x100.png")repeat-x scroll 50% bottom #FCFDFD;
    border: 1px solid #A6C9E2;
    color: #222222;
}

.ui-state-hover a, .ui-state-hover a:hover {
    color: #F0F0F0;
    text-decoration: none;
}

.ui-state-hover, .ui-widget-content.ui-state-hover, .ui-widget-header.ui-state-hover, .ui-state-focus, .ui-widget-content.ui-state-focus, .ui-widget-header.ui-state-focus {
    background: url("../styles/images/ui-bg_glass_75_d0e5f5_1x400.png")repeat-x scroll 50% 50% #D0E5F5;
    border: 1px solid #79B7E7;
    color: #1D5987;
    font-weight: bold;
}

tr.ui-row-ltr td {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}

.ui-jqgrid tr.ui-row-rtl td {
    border-left-color: inherit;
    border-left-style: solid;
    border-left-width: 1px;
    text-align: right;
}

.ui-jqgrid tr.jqgrow td {
    border-bottom-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: normal;
    height: 22px;
    overflow: hidden;
    padding: 0 2px;
    white-space: pre;
}

.ui-widget-content {
    background: url("../images/ui-bg_inset-hard_100_fcfdfd_1x100.png")repeat-x scroll 50% bottom #FCFDFD;
    border: 1px solid #A6C9E2;
    color: #222222;
}

.ui-jqgrid-bdiv {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    text-align: left;
}

.main tbody tr td.level1 {
    padding-left: 15px;
}

.main tbody tr td.textLevel1 {
    font-size: 12px;
    text-align: right;
    color: rgb(84, 157, 202);
    width: 100%;
    border: 0px solid #ffffff;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    font-weight: bold;
}

.main tbody tr td.textLevel2 {
    font-size: 10px;
    text-align: right;
    color: rgb(82, 163, 39);
    width: 100%;
    border: 0px solid #ffffff;
    BACKGROUND-COLOR: #ffffff;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 12pt;
    font-style: oblique;
    font-weight: bold;
}

.main tbody tr td.level2 {
    padding-left: 30px;
}

.main tbody tr td.level3 {
    padding-left: 45px;
}

.scroll_box {
    width: 100%;
    height: auto;
    margin: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0;
    position: relative;
    float: inherit;
}
/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url(shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
}

.shadetabs li a.selected{ /*selected main tab style */
background-image: url(shadeactive.gif);
border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Inverted Modern Bricks II Tabs. Remove if not using ######### */

.modernbricksmenu2{
padding: 0;
width: 362px;
border-top: 5px solid #D25A0B; /*Brown color theme*/ 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.modernbricksmenu2 ul{
margin:0;
margin-left: 10px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: black; /*Brown color theme*/ 
border-top: 1px solid white;
}

.modernbricksmenu2 a:hover{
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
}

.modernbricksmenu2 a.selected{ /*currently selected tab*/
background-color: #D25A0B; /*Brown color theme*/ 
color: white;
border-color: #D25A0B; /*Brown color theme*/ 
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}

/* ######### CSS for Indented CSS Tabs. Remove if not using ######### */


.indentmenu{
font: bold 13px Arial;
width: 100%; /*leave this value as is in most cases*/
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
border-top: 1px solid navy; /*navy border*/
background: black url(indentbg.gif) center center repeat-x;
}

.indentmenu ul li{
display: inline;
}

.indentmenu ul li a{
float: left;
color: white; /*text color*/
padding: 5px 11px;
text-decoration: none;
border-right: 1px solid navy; /*navy divider between menu items*/
}

.indentmenu ul li a:visited{
color: white;
}

.indentmenu ul li a.selected{
color: white !important;
padding-top: 6px; /*shift text down 1px*/
padding-bottom: 4px;
background: black url(indentbg2.gif) center center repeat-x;
}


.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 450px;
margin-bottom: 1em;
padding: 10px;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}
.tableTop{
BORDER-COLLAPSE: collapse;
border-top:solid 1px #B4B4B4;
padding : 0 0 0 0 ;
width:100%;
}
.tableBound{
BORDER-COLLAPSE: collapse;
border-left:solid 1px #B4B4B4;
border-right:solid 1px #B4B4B4;
border-bottom:solid 1px #B4B4B4;
padding : 0 0 0 0 ;
width:100%;
}
.tableBound .buttonbar tr td{
padding : 10px 0 10px 0 ;
width:100%;
text-align: right;
}
.tableBound .buttonbar tr td span button{
  width: 120px;
  height: 25px;
}

.buttonbar tr td{
padding : 10px 0 10px 0 ;
width:100%;
}
.buttonbar tr td span button{
  width: 120px;
  height: 25px;
}
.data-grid thead tr th{
  height:20px;
  width:59%;
}
.clearfix .fieldsetCSS {
  height:650px;
  width:215px;
}
.fieldsetCSS {
  height:650px;
}
.fieldsetLTTCSS {
  height:338px;
}
.clearfix fieldset{
   height:400px;
   width:94%;
}
.clearfixLTT .fieldsetLTTCSS{
   width:210px;
}
.sodientrasoattable{
  height: 550px; 
  width:210px;
  padding : 3px;
}
.sodientrasoattableLTT{
  width:97%;
}
.keyInfo{
  width: 20%;
  
}
.valueInfo{
  width: 80%;
}

.test
{
white-space:nowrap; 
width:97%; 
overflow:hidden; 
border:1px solid #000000;
}

.headcol {
            position:absolute; 
            top:auto;
            border-right: 0px none black; 
            border-top-width:3px; 
            margin-top:-3px;
        }
        