
/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
	position:		relative;
}
.sf-navbar li {
	background:		transparent none;
	position:		static;
}
.sf-navbar a {
	border-top:		none;
}
.sf-navbar li ul {
	background: url(../images/bg_subGNB.jpg) left top no-repeat;
	width:			900px; /*IE6 soils itself without this*/
	margin-left: 13px;
	padding-left: 14px;
}
.sf-navbar li li {
	position:		relative;
}
.sf-navbar li li ul {
	width:			13em;
}
.sf-navbar li li li {
	width:			100%;
}
.sf-navbar ul li {
	width:			auto;
	float:			left;
}
.sf-navbar a, .sf-navbar a:visited {
	border:			none;
}
.sf-navbar li.current, .sf-navbar li.sf-breadcrumb {
	background:		transparent none;
}
.sf-navbar li.current a, .sf-navbar li.sfHover a, .sf-navbar li.sf-breadcrumb a {
}
.sf-navbar li.current li a, .sf-navbar li.sfHover li a {
	background:		url(../images/bu_subGNB.gif) left 8px no-repeat;
}
.sf-navbar li li.current a, .sf-navbar li li.sfHover a, .sf-navbar li li a:hover {
	background:		url(../images/bu_subGNB_on.gif) left 8px no-repeat;
}
.sf-navbar li:hover,
.sf-navbar li.sfHover {
	background:		transparent none;
}
.sf-navbar li li:hover,
.sf-navbar li li.sfHover {
	background:		transparent none;
}
ul.sf-navbar .current ul,
ul.sf-navbar ul li:hover ul,
ul.sf-navbar ul li.sfHover ul {
	left:			0;
	top:			45px; /* match top ul list item height */
}
ul.sf-navbar .current ul ul {
	top: 			-999em;
}

.sf-navbar li li.current > a {
	font-weight:	bold;
}

/*** point all arrows down ***/
/* point right for anchors in subs */
.sf-navbar ul .sf-sub-indicator { background-position: -10px -100px; }
.sf-navbar ul a > .sf-sub-indicator { background-position: 0 -100px; }
/* apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator,
.sf-navbar ul a:hover > .sf-sub-indicator,
.sf-navbar ul a:active > .sf-sub-indicator,
.sf-navbar ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/*** remove shadow on first submenu ***/
.sf-navbar > li > ul {
	
}