h1 {
    font-family: Tahoma;
    font-size: 13pt;
    font-weight: bold;
    color: #3a9bcc;
    margin-top: 0px;
    margin-bottom: 0px;
}
table {
    border: none;
    font-family: Tahoma;
    font-size: 9pt;    
}
table.grid {
    border: solid;
    border-width: 1px;
    border-collapse: collapse; 
    border-color: gray;
    font-family: Tahoma;
    font-size: 9pt;
}
thead {
    background-color: #f0f0f0;
    font-weight: bold;
}
tr.header {    
    font-weight: bold;
}
tr.tkhaiheader {    
    font-weight: bold;
}
font.qhieutkhai {
    font-family: Times New Roman;
    font-size: 10pt;
}
font.tentkhai {
    font-family: Times New Roman;
    font-size: 11pt;
    font-weight: bold;
}
input.numberflat {
    text-align: right;
    font-family: Tahoma; 
    font-size:9pt;
    border: none;
}
input.textflat {
    font-family: Tahoma; 
    font-size:9pt;
    border: none;
}
input.dateflat {
    text-align: center;
    font-family: Tahoma; 
    font-size:9pt;
    border: none;
}
