
table.grid tr td{
    border: solid !important;
    border-width: 1px !important;
    border-collapse: collapse !important; 
    border-color: gray !important;
    font-family: Tahoma;    
    font-size: 8pt !important;
}

/*Sử dụng cho phần header của t�? khai*/
.tbl_member tr.header th{    
    font-weight: bold;
    height: 10pt;
    text-align: center !important;
    vertical-align:middle !important;
}
.table_Noborder table tr td{
    border: none !important;
}
.tbl_member tr.header td{    
    font-weight: bold;
    text-align: center !important;
    vertical-align:middle !important;
}
/*Sử dụng cho các dòng giá trị tổng của t�? khai*/
table.grid tr.tkhaiheader td{    
    font-weight: bold;
    text-align: center !important;
    vertical-align:middle !important;
}
input {
    font-family: Tahoma;
    font-size: 8pt;
}
input.button {
    font-family: Arial;
    font-size: 9pt;
    padding: 1px;
}
input.date {
    text-align: center; 
    font-family: Tahoma; 
    font-size:8pt
}
input.number {
    text-align: right; 
    font-family: Tahoma; 
    font-size:8pt
}
input.numberflat {    
    text-align: right;
    font-family: Tahoma; 
    font-size:8pt;
    border: none;

}
input.yearflat {    
    text-align: center;
    font-family: Tahoma; 
    font-size:8pt;
    border: none !important;
    font-weight: bold;
}
input.sumflat {    
    background-color: #c6c6c6;
    text-align: right;
    font-family: Tahoma; 
    font-size:8pt;
    border: none;
    font-weight: bold;
}
input.textrow{
    text-align: center;
    font-family: Tahoma; 
    font-size:8pt;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid;    
}
input.textrow2{
    margin-left: 10px;
    text-align: left;
    font-family: Tahoma; 
    font-size:8pt;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid;  
    width: 500px;
}
input.textflat {
    font-family: Tahoma; 
    font-size:8pt;
    border: none;
}
input.dateflat {
    text-align: center;
    font-family: Tahoma; 
    font-size:8pt;
    border: none;
}
select {
    font-family: Tahoma;
    font-size: 8pt;
}
option {
    font-family: Tahoma;
    font-size: 8pt;
}
textarea {
    font-family: Tahoma;
    font-size: 8pt;
}
font.qhieutkhai {
    font-family: Times New Roman;
    font-size: 12pt;
}
font.tentkhai {
    font-family: Times New Roman;
    font-size: 12pt;
    font-weight: bold;
}
.trheight0{
    height: 0pt !important;
    padding: 0px !important; 
    margin: 0px !important;
    border: none !important;
}